<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE gui SYSTEM "kpartgui.dtd">
<gui name="fontmatrix-ng" version="4" translationDomain="fontmatrix-ng">
  <MenuBar>
    <Menu name="file" noMerge="1">
      <text>&amp;File</text>
      <Action name="file_import_dir"/>
      <Action name="file_import_files"/>
      <Action name="file_export_fontset"/>
      <Separator/>
      <Action name="file_font_book"/>
      <Action name="file_dump_info"/>
      <Separator/>
      <Action name="file_quit"/>
    </Menu>
    <Menu name="edit" noMerge="1">
      <text>&amp;Edit</text>
      <Action name="edit_tag_all"/>
      <Action name="edit_activate_current"/>
      <Action name="edit_deactivate_current"/>
      <Separator/>
      <Action name="edit_font_editor"/>
      <Action name="edit_panose"/>
      <Separator/>
      <Action name="edit_reload_single"/>
      <Action name="edit_reload_filtered"/>
    </Menu>
    <Menu name="view" noMerge="1">
      <text>&amp;View</text>
      <Action name="view_playground"/>
      <Action name="view_compare"/>
      <Separator/>
    </Menu>
    <Menu name="services" append="before_settings_or_help">
      <text>&amp;Service</text>
      <Action name="service_extract_font"/>
      <Action name="service_match_raster"/>
      <Action name="service_export_xetex"/>
      <Action name="service_repair"/>
      <Action name="service_tt_tables"/>
    </Menu>
  </MenuBar>
  <ToolBar name="mainToolBar" noMerge="1">
    <text>Main Toolbar</text>
    <Action name="file_import_dir"/>
    <Action name="file_import_files"/>
    <Separator/>
    <Action name="file_font_book"/>
    <Separator/>
    <Action name="edit_activate_current"/>
    <Action name="edit_deactivate_current"/>
    <Separator/>
    <Action name="view_compare"/>
    <Action name="view_playground"/>
  </ToolBar>
  <ToolBar noMerge="1" name="hamburgerBar">
    <text>Hamburger Menu Toolbar</text>
    <Spacer/>
    <Action name="hamburger_menu"/>
  </ToolBar>
</gui>
